/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.8.7-p352@cmtracker/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.8.7-p352@cmtracker/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.8.7-p352@cmtracker/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.8.7-p352@cmtracker/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.8.7-p352@cmtracker/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.8.7-p352@cmtracker/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.8.7-p352@cmtracker/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.8.7-p352@cmtracker/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.8.7-p352@cmtracker/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 39, ../../app/stylesheets/screen.scss */
* {
  color: #3f4342;
  text-align: center;
}
/* line 51, ../../../../.rvm/gems/ruby-1.8.7-p352@cmtracker/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* body {
  font-size: 112.5%;
  line-height: 1.333em;
}
/* line 55, ../../../../.rvm/gems/ruby-1.8.7-p352@cmtracker/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html > body {
  font-size: 18px;
}

/* line 46, ../../app/stylesheets/screen.scss */
body {
  font-family: Helvetica, sans-serif;
}

/* line 50, ../../app/stylesheets/screen.scss */
p {
  padding: 12px 0;
}

/* line 54, ../../app/stylesheets/screen.scss */
h1, h2, h3, h4, h5 {
  font-family: 'Cabin Sketch', Serif;
  text-align: left;
}

/* line 59, ../../app/stylesheets/screen.scss */
h1 {
  font-size: 36px;
  color: #00a2d9;
}

/* line 64, ../../app/stylesheets/screen.scss */
.welcome {
  display: inline;
  position: absolute;
  top: 16px;
  right: 16px;
  float: right;
  margin-right: 16px;
}

/* line 73, ../../app/stylesheets/screen.scss */
header {
  background-color: #eb8b2d;
  height: 200px;
  padding-top: 16px;
}
/* line 79, ../../app/stylesheets/screen.scss */
header img {
  float: left;
  margin-left: 16px;
}
/* line 84, ../../app/stylesheets/screen.scss */
header .header_controls {
  float: left;
  margin-left: 40px;
}
/* line 89, ../../app/stylesheets/screen.scss */
header h1 {
  margin-bottom: 80px;
  color: #f5eb3e;
}
/* line 94, ../../app/stylesheets/screen.scss */
header a {
  text-decoration: none;
  color: #00a2d9;
}
/* line 4, ../../../../.rvm/gems/ruby-1.8.7-p352@cmtracker/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
header a:hover {
  text-decoration: underline;
}
/* line 100, ../../app/stylesheets/screen.scss */
header nav ul {
  list-style: none;
}
/* line 102, ../../app/stylesheets/screen.scss */
header nav ul li {
  display: inline;
}

/* line 109, ../../app/stylesheets/screen.scss */
#service_id {
  width: 300px;
}

/* line 113, ../../app/stylesheets/screen.scss */
#class_id {
  width: 120px;
}

/* line 117, ../../app/stylesheets/screen.scss */
#main {
  clear: left;
  padding-top: 1.333em;
  width: 960px;
  margin: 0 auto;
  text-align: left;
}
/* line 125, ../../app/stylesheets/screen.scss */
#main h1 {
  font-size: 28px;
}

/* line 130, ../../app/stylesheets/screen.scss */
.child_listing {
  /* For use in checkin screens */
  padding: 20px 80px;
}
/* line 132, ../../app/stylesheets/screen.scss */
.child_listing input[type='text'] {
  width: 250px;
  margin-bottom: 20px;
  text-align: left;
}
/* line 139, ../../app/stylesheets/screen.scss */
.child_listing article {
  width: 220px;
  height: 100px;
  border: 1px solid black;
  padding: 4px 4px;
  float: left;
  margin-left: 16px;
  margin-top: 16px;
  text-align: left;
}
/* line 149, ../../app/stylesheets/screen.scss */
.child_listing article .field_heading {
  font-weight: bold;
}
/* line 153, ../../app/stylesheets/screen.scss */
.child_listing article input[type='button'] {
  float: right;
  margin-right: 4px;
}
/* line 158, ../../app/stylesheets/screen.scss */
.child_listing article .undo_button {
  display: none;
}

/* line 164, ../../app/stylesheets/screen.scss */
.child_list_table {
  margin-top: 12px;
}
/* line 166, ../../app/stylesheets/screen.scss */
.child_list_table td, .child_list_table th {
  padding: 2px 12px;
}
/* line 167, ../../app/stylesheets/screen.scss */
.child_list_table th {
  font-weight: bold;
}

/* line 175, ../../app/stylesheets/screen.scss */
.checked_in {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f5eb3e));
  background-image: -webkit-linear-gradient(#ffffff, #f5eb3e);
  background-image: -moz-linear-gradient(#ffffff, #f5eb3e);
  background-image: -o-linear-gradient(#ffffff, #f5eb3e);
  background-image: -ms-linear-gradient(#ffffff, #f5eb3e);
  background-image: linear-gradient(#ffffff, #f5eb3e);
}

/* line 179, ../../app/stylesheets/screen.scss */
#chart {
  text-align: center;
}

/* line 183, ../../app/stylesheets/screen.scss */
#sign_in_area {
  text-align: center;
}
/* line 186, ../../app/stylesheets/screen.scss */
#sign_in_area h2 {
  text-align: center;
}

/* line 191, ../../app/stylesheets/screen.scss */
.roster_printout {
  text-align: center;
}
/* line 194, ../../app/stylesheets/screen.scss */
.roster_printout table {
  width: 700px;
  margin: 20px auto;
}
/* line 198, ../../app/stylesheets/screen.scss */
.roster_printout table thead h1, .roster_printout table thead h2 {
  font-family: Helvetica, Arial, sans-serif;
}
/* line 201, ../../app/stylesheets/screen.scss */
.roster_printout table thead h2 {
  font-size: 1.6em;
  line-height: 2.0em;
}
/* line 207, ../../app/stylesheets/screen.scss */
.roster_printout table thead .title_row h1, .roster_printout table thead .title_row h2 {
  text-align: center;
}
/* line 210, ../../app/stylesheets/screen.scss */
.roster_printout table thead .title_row th {
  padding: 6px;
}
/* line 215, ../../app/stylesheets/screen.scss */
.roster_printout table thead .date_row {
  font-weight: bold;
}
/* line 219, ../../app/stylesheets/screen.scss */
.roster_printout table tbody tr > td:nth-child(2) {
  text-align: right;
}
/* line 222, ../../app/stylesheets/screen.scss */
.roster_printout table tbody .header_row > td {
  font-weight: bold;
  text-align: center;
}
/* line 226, ../../app/stylesheets/screen.scss */
.roster_printout table tbody .header_row > td:nth-child(1) {
  text-align: left;
}
/* line 227, ../../app/stylesheets/screen.scss */
.roster_printout table tbody td {
  border: 1px solid #000;
}
