/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

// Fonts
$base-font-size: 18px;
$base-line-height: 24px;

@import "compass/typography";
@import "compass/typography/vertical_rhythm";

// Colors
// Came from http://www.colourlovers.com/palette/1732175/vintage-4
$river: #77CBD5;
$orange: #FA9020;
$windswept: #E4E2D3;
$sinja_sova: #778381;
$to_wear_in_winter: #3F4342;

// Came from sampling the MH Kids logo
$light_blue: #6FC7E5;
$dark_blue: #00A2D9;
$yellow: #F5EB3E;
$orange: #EB8B2D;
$white: #000;

// Rounded corners
@import "compass/css3/border-radius";

// Links
@import "compass/typography/links/hover-link";

// Gradients
@import "compass/css3/images";

* {
  @include establish-baseline($base-font-size);

  color: $to_wear_in_winter;
  text-align: center;
}

body {
  font-family: Helvetica, sans-serif;
}

p {
  padding: ($base-line-height / 2) 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Cabin Sketch', Serif;
  text-align: left;
}

h1 {
  font-size: 36px;
  color: $dark_blue;
}

.welcome {
  display: inline;
  position: absolute;
  top: 16px;
  right: 16px;
  float: right;
  margin-right: 16px;
}

header {
  background-color: $orange;
  height: 200px;

  padding-top: 16px;
  
  img {
    float: left;
    margin-left: 16px;
  }
  
  .header_controls {
    float: left;
    margin-left: 40px;
  }

  h1 {
    margin-bottom: 80px;
    color: $yellow;
  }
  
  a {
    @include hover-link();
    color: $dark_blue;
  }

  nav {
    ul {
      list-style: none;
      li {
        display: inline;
      }
    }
  }
}

#main {
  clear: left;
  @include padding-leader();

  width: 960px;
  margin: 0 auto;
  text-align: left;

  h1 {
    font-size: 28px;
  }
}

.child_listing {
  /* For use in checkin screens */
  input[type='text'] {
    width: 250px;
    margin-bottom: 20px;
    text-align: left;
  }

  padding: 20px 80px;
  article {
    width: 220px;
    height: 100px;
    border: 1px solid black;
    padding: 4px 4px;
    float: left;
    margin-left: 16px;
    margin-top: 16px;
    text-align: left;

    .field_heading {
      font-weight: bold;
    }

    input[type='button'] {
      float: right;
      margin-right: 4px;
    }

    .undo_button {
      display: none;  
    }
  } 
}

.child_list_table {
  margin-top: 12px;
  td, th { padding: 2px 12px; }
  th {
    font-weight: bold;
  }
  
  td { 
  }
}

.checked_in {
  @include background-image(linear-gradient(white, $yellow));
}

#chart {
  text-align: center;
}

#sign_in_area {
  text-align: center;

  h2 {
    text-align: center;
  }
}

.roster_printout {
  text-align: center;

  table {
    width: 700px;
    margin: 20px auto;  
    thead {
      h1, h2 { 
        font-family: Helvetica, Arial, sans-serif;
      }
      h2 {
        font-size: 1.6em;
        line-height: 2.0em;
      }

      .title_row {
        h1, h2 {
          text-align: center;
        }
        th {
          padding: 6px;
        }
      }

      .date_row { font-weight: bold; }
    }

    tbody {
      tr > td:nth-child(2) {
        text-align: right;
      }
      .header_row > td { 
        font-weight: bold; 
        text-align: center;
      }
      .header_row > td:nth-child(1) { text-align: left; }
      td { border: 1px solid #000; }
    }
  }
}
